<form id="profile-form" class="form-floating">
  <h1 class="h3 mb-3 fw-normal">Edit Profile</h1>

    {{#error}}
    <div class="alert alert-danger" role="alert">
      {{message}}
    </div>
  {{/error}}

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="profile-firstname" placeholder="" value="{{firstname}}">
    <label for="profile-firstname">Firstname</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="profile-lastname" placeholder="" value="{{lastname}}">
    <label for="profile-lastname">Lastname</label>
  </div>

  <p>Address</p>
  <hr/>

  <div class="form-floating mb-3">
    <select onfocus="this.selectedIndex = -1;" name="region" id="profile-regions-dropdown" class="form-select">
    {{#regions}}
      <option value="{{region_id}}">{{region_name}}</option>
    {{/regions}}
    </select>
    <label for="profile-regions-dropdown">Region</label>
  </div>

  <div class="form-floating mb-3">
    <select onfocus="this.selectedIndex = -1;" name="province" id="profile-provinces-dropdown" class="form-select"></select>
    <label for="profile-provinces-dropdown">Province</label>
  </div>

  <div class="form-floating mb-3">
    <select onfocus="this.selectedIndex = -1;" name="city" id="profile-municipalities-dropdown" class="form-select"></select>
    <label for="profile-municipalities-dropdown">City / Municipality</label>
  </div>

  <div class="form-floating mb-3">
    <select onfocus="this.selectedIndex = -1;" name="barangay" id="profile-barangays-dropdown" class="form-select"></select>
    <label for="profile-barangays-dropdown">Barangay</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="profile-street-address" placeholder="1 Kalsada Street" value="{{address}}">
    <label for="profile-lastname">Street Address</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
    Submit
  </button>
</form>
